<div class='row-fluid span11 page'>
  <div class='row-fluid header'>
    <div class="media thumbnail span2">
      <%= image_tag(page.media ? page.media : 'no-page-image.jpg') %>
    </div>
    <div class="span10">
      <%= content_tag :h1, link_to(page.title, page) %>
      <%= link_to_page page, :class => "url" %>
    </div>
  </div>
	<div class="row-fluid content">
		<%= page.content.html_safe %>
	</div>
</div>